replicas: {{nginx.replicas|default("3",true)}}
resources:
  requests:
    memory: {{nginx.request_memory|default("200Mi",true)}}
    cpu: {{nginx.request_cpu|default("200m",true)}}
  limits:
    memory: {{nginx.limits_memory|default("300Mi",true)}}
    cpu: {{nginx.limits_cpu|default("300m",true)}}
env: {{nginx.env|default("Production",true)}}

kind: {{nginx.kind|default("statefulset",true)}}
cpurate: 60

hpa:
  enabled: {{nginx.hpaenable|default("True",true)}}

service:
  port: {{nginx.service.port|default("8080",true)}}
  tgport: {{nginx.service.tgport|default("80",true)}}