## Environment
env: {{ lhc.env.env|default("dev", true)}}
kind: {{lhc.env.controller.kind|default("statefulset", true)}}
ns:  {{ lhc.env.namespace|default("lhc-dev", true)}}
nginx_config: lhc-install-nginx-config
stgclass: lhc-install-nfs-csi
replicas: {{lhc.env.replicas|default("3", true) }}

# For service lhc-install-app
svcport_lhc_app: {{ lhc.env.svc_lhc_app|default("8080", true) }}
tgport_lhc_app: {{ lhc.env.tgport_lhc_app|default("80", true) }}

# For service php
svcport_php: 9000
tgport_php: 9000

# For service nodejs helper
svcport_nodejshp: 8000
tgport_nodejshp: 3000

# For service cobrowser
svcport_cobrowser: 31130
tgport_cobrowser: 31130

# For service mysql
svcport_db: 3306
tgport_db: 3306

# For service PHP resque
svcport_phpresque: 31082
tgport_phpresque: 9000

# For service redis
svcport_redis: 30379
tgport_redis: 6379

# For volume
pvclhcvolume: lhc-install-volume
pvcnginxconfig: lhc-install-nginx-config
pvccode: lhc-install-code-volume 
pvcdatabase: lhc-install-db-volume
pvcphp: lhc-install-php-volume
pvcnginx: lhc-install-nginx-volume

capacitylhc: {{ lhc.env.capacitylhc|default("600Mi", true)}}
capacity_db: {{ lhc.env.capacity_db|default("1Gi", true)}}
capacity_code: {{ lhc.env.capacity_db|default("1Gi", true)}}
capacity_nginx: {{ lhc.env.capacity_nginx|default("300Mi", true)}}

# For database
dbenv: MYSQL_ROOT_PASSWORD
secretname: lhc-install-secret-db

hpa:
  enabled: {{ lhc.env.hpaenable|default("true", true)}}

## For resources:
resources_lhc:
  limits:
    memory: 300Mi
    cpu: 300m
  requests:
    memory: 200Mi
    cpu: 200m
resources_node:
  limits:
    memory: 300Mi
    cpu: 300m
  requests:
    memory: 200Mi
    cpu: 200m
resources_db:
  limits:
    memory: 300Mi
    cpu: 300m
  requests:
    memory: 200Mi
    cpu: 200m
resources_other:
  limits:
    memory: 200Mi
    cpu: 200m
  requests:
    memory: 150Mi
    cpu: 150m
## For nginx config 

