### For environment ###
ns: {{ matomo.ns|default("matomo-dev", true)}}
env: {{ matomo.env|default("dev", true)}}

### For matomo-app ###
port_matomo: {{ matomo.port|default("8880", true)}}
nodeport_matomo: {{ matomo.nodeport|default("31880", true)}}
svcport_matomo: {{ matomo.svcport|default("80", true)}}
ingress_svc_name:  {{ matomo.ingress_name|default("matomo-install-devolopment", true)}}
### Resources ###
resources_matomo:
  limits:
    memory: {{ matomo.limits.memory_matomo|default("300Mi", true)}}
    cpu: {{ matomo.limits.cpu_matomo|default("300m", true)}}
  requestss:
    memory: {{ matomo.requests.memory_matomo|default("250Mi", true)}}
    cpu: {{ matomo.requests.cpu_matomo|default("200m", true)}}

resources_db:
  limits:
    memory: {{ matomo.limits.memory_db|default("300Mi", true)}}
    cpu: {{ matomo.limits.cpu_db|default("300m", true)}}
  requestss:
    memory: {{ matomo.requests.memory_db|default("250Mi", true)}}
    cpu: {{ matomo.requests.cpu_db|default("200m", true)}}

pvcmatomo: matomo-install-volume
capacity_matomo: {{ matomo.capacity_matomo|default("800Mi", true)}}

## For service mysql
svcport_db: 31306
tgport_db: 3306
pvcdatabase: matomo-install-db-volume
capacity_db_matomo: 800Mi
dbenv: MYSQL_ROOT_PASSWORD
secretname: matomo-install-secret-db